*{
    margin: 0px;
    padding: 0px;
    list-style: none;
    text-decoration: none;
}
body{
    background: #220;
}
#content{
    position: relative;
    width: 1219px;
    height: 380px;
    margin: 100px auto;
    overflow: hidden;
}
#content >ul{
    position: relative;
    width: 9900px;
}
#content >ul>li{
    float: left;
}
#toggle{
    position: relative;
    top: 300px;
    width: 820px;
    margin: 0px auto;
    height: 68px;
    background: rgb(0,0,0,0.5);
}
#toggle >ul{
    position: absolute;
    padding: 10px;
    background: rgb(0,0,0,0.5);
    height: 48px;
}
#toggle >ul>li{
    float: left;
    margin-left: 10px;
    border-width: 2px;
}
.one{
    border: 2px solid #f00;
}
#toggle span{
    display: inline-block;
    position: absolute;
    color: #fff;
    left: -45px;
    height: 68px;
    line-height: 58px;
    font-size: 48px;
    background: rgb(0,0,0,0.5);
    cursor: pointer;
}
#toggle .next{
    left: 825px;
}
#toggle h3{
    color:#fff;
}
#toggle p{
    color: salmon;
}
#font{
    position: absolute;
    top: 0px;
    left: 520px;
}